<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-purple-600 text-2xl mb-6">CLiSTec <span
          class="text-gray-800 font-bold tracking tracking-widest"></span></h1>
      <h2 class="font-bold tracking-widest text-4xl">Cátedra Libre</h1>
        
        <p class="font-bold tracking-widest text-4xl">de Soberanía Tecnológica</p>
    </div>
    <div class="w-full sm:w-1/2">
      
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">más información</a>
</div>