{% for item in collections.sections %}
  {% if item.data.type === 'features' %}
    <div id="features" class="w-full min-h-screen flex flex-col justify-center items-center bg-blue-900 py-12">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <h2 class="tracking-wide text-blue-200 font-bold text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-gray-200 text-xl mb-6">
          {{ item.templateContent | safe }}
        </div>
      </div>
      <div class="self-center w-full xl:w-4/5 flex flex-col sm:flex-row flex-wrap px-4 xl:px:0">
        {% for item in features %}
          <div class="w-full sm:w-1/2 flex flex-row flex-no-wrap hover:shadow-lg hover:bg-blue-800 hover:bg-opacity-50 px-4 sm:px-8 py-6 sm:py-12">
            <div class="w-1/3 xl:w-1/4">
              <img src="/img/features/{{ item.icon }}" alt="{{ item.title }}" class="w-16 block sm:mx-auto">
            </div>
            <div class="w-2/3 xl:w-3/4">
              <h3 class="tracking-wide text-purple-300 font-bold text-2xl uppercase mb-2">{{ item.title }}</h3>
              <div class="font-light text-gray-200 text-lg">
                {{ item.content | markdown | safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="self-center text-center w-full sm:w-1/3 px-4 sm:px:0">
        <h3 class="font-bold tracking-widest text-blue-200 text-2xl my-6">{{ item.data.afterTitle }}</h3>
      </div>
      
    </div>
  {% endif %}
{% endfor %}