---
layout: base.njk
---

<header>
  
</header>
<main id="{{ title }}" class="w-full flex flex-col justify-center items-center">
  <div class="self-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0 pt-16">
    <h1 class="font-bold uppercase tracking-widest text-gray-800 text-2xl mb-4">{{ title }}</h1>
    <div class="prose max-w-none font-light text-black text-lg">
      {{ content | safe }}
    </div>
  </div>
</main>